# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Environment
.env
.env.*

# Build
build/
dist/
*.egg-info/

# Test
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# SQLite
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db